@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=M+PLUS+1:wght@200;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    text-transform: capitalize;
    /* font-family: 'M PLUS 1', sans-serif; */
}
.navbar{
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #f5f5f5;
    z-index: 10;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 8%;
}
.nav .logo{
    font-family: 'Comforter Brush', cursive;
}
.logo h3{
    font-size: 2rem;
}
.logo h3 span{
    color: #e37d9f;
}
.inputs{
    width: 600px;
    display: flex;
}
.inputs .search{
    width: 80%;
    height: 40px;
    padding: 10px;
    border-bottom-left-radius: 10px ;
    border-top-left-radius: 10px ;
    background: none;
    color: #a9a9a9;
    outline: none;
    opacity: .7;
    font-family: 'M PLUS 1', sans-serif;
    
}
.inputs button{
    width: 20%;
    margin-left: 0;
    padding: 10px;
    background-color: #383838;
    color: #fff;
    border: none;
    outline: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    font-family: 'M PLUS 1', sans-serif;
}
/* .inputs i{
    width: 20%;
} */
.inputs a{
    display: flex;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
}
.inputs a i{
    font-size: 30px;
    /* background-color: #383838; */
    color: #383838;
}
.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar ul li{
    display: inline-block;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.navbar ul li a{
    font-size: 1.2rem;
    color: black;
    opacity: 0.5;
    cursor: pointer;
    transition: 300ms;
    font-family: 'M PLUS 1', sans-serif;
}
.navbar ul li a:hover{
    opacity: 1;
    transition: 300ms;
}
.navbar hr{
    margin-top: 10px;
    opacity: 0.3;
}